form {
    background-color: #fff;
    color: #252122;
}

#row-instructions {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20%;
    padding-right: 20%;
}

#row-names {
    padding-left: 15%;
    padding-right: 15%;
}

#input-first-name {
    max-width: 250px;
}

#input-last-name {
    max-width: 250px;
}

#row-email-phone {
    padding-left: 15%;
    padding-right: 15%;
}

#input-email {
    max-width: 250px;
}

#input-phone {
    max-width: 250px;
}

#row-address {
    padding-left: 15%;
    padding-right: 15%;
}

#input-address-line-1 {
    max-width: 250px;
}

#input-address-line-2 {
    max-width: 250px;
}

#row-city-state-zip {
    padding-left: 15%;
    padding-right: 15%;
}

#input-city {
    max-width: 250px;
}

#input-state {
    max-width: 250px;
}

#input-zip {
    max-width: 250px;
}

#demographics-title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
}

#row-demographics {
    margin-bottom: 50px;
    padding-left: 10%;
    padding-right: 10%;
}

@media screen and (max-width: 737px) {
    #col-1-demo {
        padding-left: 30%;
    }

    #col-2-demo {
        padding-left: 30%;
    }

    #col-3-demo {
        padding-left: 30%;
    }
}

select {
    margin-bottom: 50px;
    color: #000;
    max-width: 250px;
}

textarea {
    resize: vertical;
    max-width: 500px;
}

#acknowledgement-checkbox {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#submit-button {
	margin-top: 30px;
    margin-bottom: 50px;
    width: 20%;
}

@media screen and (max-width: 737px) {
    #submit-button {
        width: 80%;
    }
}

input[type="checkbox"] {
    margin-right: 20px;
}
