form {
    background-color: #fff;
    color: #252122;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

#row-instructions {
    margin-top: 20px;
    margin-bottom: 20px;
}

#input-first-name {
    max-width: 250px;
}

#input-last-name {
    max-width: 250px;
}

#input-email {
    max-width: 250px;
}

#input-phone {
    max-width: 250px;
}

#input-address-line-1 {
    max-width: 250px;
}

#input-address-line-2 {
    max-width: 250px;
}

#input-city {
    max-width: 250px;
}

#input-state {
    max-width: 250px;
}

#input-zip {
    max-width: 250px;
}

@media screen and (max-width: 737px) {
    #row-zip {
        margin: 0 auto;
        float: none;
    }
}

#demo-col-1 {
    margin-top: 50px;
    margin-bottom: 50px;
}

#demo-col-2 {
    margin-top: 50px;
    margin-bottom: 50px;
}

textarea {
  resize: vertical;
}

#acknowledgement-checkbox {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#submit-button {
	margin-top: 30px;
    margin-bottom: 50px;
    width: 20%;
}

@media screen and (max-width: 737px) {
    #submit-button {
        width: 90%;
    }
}

input[type="checkbox"] {
    margin-right: 20px;
}