body {
    background-color: #fff;
    color: #252122;
}

.copyright {
    font-size: 0.5em;
    text-align: center;
}

#footer-wrapper {
    background-color: #252122;
    padding: 1em 0 0 0;
}

#header-wrapper {
    padding: 1.5em 0 0 0;
    border-bottom: none;
}

#intro-section > section.first {
    padding: 0px;
    margin: 0px;
}

/*#intro section {
	margin: 0px;
} */

#main-carousel img {
    margin-top: 0.5em;
    width: 100%;
}

/*#mainlearn {
	margin-top: 0px;
	background-color: #ccc;
	vertical-align: top;
}*/

.iconpic {
    width: 100px;
}

.secondary-section {
    margin: 1em 0;
}

ul.divided li {
    padding: 0.3em 0 0.3em 0;
}

ul.contact li {
    padding: 1em 0 1em 5em;
}

#footer-wrapper header {
    margin: .5em 0 1.5em 0;
}

.maps {
    width: 100%;
    height: 80%;
}

@media screen and (max-width: 736px) {
    .tweets {
        display: none;
    }
}

.first {
    height: 300px;
}

.secondary {
    display: block;
}

@media screen and (min-width: 737px) {
    .home-header {
        font-size: 3em;
    }

    #main-wrapper {
        padding: 2.5em 0 2.5em 0;
    }
}

@media screen and (max-width: 736px) {
    .home-header {
        font-size: 2em;
    }

    .\31 2u\28mobile\29, .\31 2u\24\28mobile\29 {
        text-align: center;
    }

    a, p {
       font-size: 1.25em;
    }

    h3 {
        margin-left: 15%;
    }

    p.copyright {
        font-size: 1.1em;
        display: block;
        width: 100%;
        margin-bottom: 0px;
    }

    #intro {
        padding: 0 25px 40px 25px;
    }

    #main-wrapper {
        padding: 1em
    }

    .box {
        margin: 0 0 0 0 !important;
    }
}