body {
	background-color: #fff;
	color: #252122;
}

.copyright {
	font-size: 0.5em;
	text-align: center;
}
#footer-wrapper {
	background-color: #252122;
	padding: 1em 0 0 0;
}
#header-wrapper {
	padding: 1.5em 0 0 0;
	border-bottom: none;
}

#intro-section {
	padding: 0px;
}

/*#intro section {
	margin: 0px;
} */

#main-carousel img {
	margin-top: 0.5em;
	width: 100%;
}

/*#mainlearn {
	margin-top: 0px;
	background-color: #ccc;
	vertical-align: top;
}*/


.iconpic {
	width: 100px;
}

.secondary-section {
	margin: 1em 0;
}

ul.divided li {
	padding: 0.3em 0 0.3em 0;
}

ul.contact li {
	padding: 1em 0 1em 5em;
}

#footer-wrapper header {
	margin: .5em 0 1.5em 0;
}